body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

@mixin decoraciontexto{
    color: #e03a3c;
    text-decoration: none;
    
}

a{
    @include decoraciontexto;
    
    &:hover {
    color: #e76668;
    text-decoration: none;
  }    
    
}

h1{
    font-family: "Raleway", sans-serif;
}
h2, h3, h4, h5, h6{
      @extend h1
} 

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;

  div {
    justify-content: center;
    min-width: 100px;
  }

  &.header-scrolled {
    padding: 12px 0;
  }

  .logo {
    max-width: 100px;
    height: auto;
  }

  h1 a {
    color: #111111;

    span {
      color: #e03a3c;
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    position: relative;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #111111;
    white-space: nowrap;
    transition: 0.3s;

    &:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 10px 30px;
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: #111111;
      white-space: nowrap;
      transition: 0.3s;
    }

    i, &:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    &:hover {
      color: #e03a3c;
    }
  }

  .active {
    color: #e03a3c;

    &:focus {
      color: #e03a3c;
    }
  }

  li:hover > a {
    color: #e03a3c;
  }
}

/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;

  &.bi-x {
    color: #fff;
  }
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;

  .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  a {
    padding: 10px 20px;
    font-size: 15px;
    color: #111111;

    &:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #111111;
    }

    &:hover {
      color: #e03a3c;
    }
  }

  .active, li:hover > a {
    color: #e03a3c;
  }

  .getstarted {
    margin: 15px;

    &:focus {
      margin: 15px;
    }
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/background-essen.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
  }

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #f76300e3;
  }

  h2 {
    color: #000;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #hero {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #hero {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 18px;
    }
  }
}

@media (max-width: 576px) {
  #hero {
    h1 {
      font-size: 23px;
    }

    h2 {
      font-size: 15px;
    }
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #e03a3c;
      bottom: 0;
      left: calc(50% - 25px);
    }
  }

  p {
    margin-bottom: 0;
  }
}

.section-bg {
  padding: 120px 0;
  color: #fff;

  &:before {
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
  .container {
    position: relative;
    z-index: 10;
  }

  .content {
    padding: 30px 30px 30px 0;

    h3 {
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
    }

    .about-btn {
      padding: 8px 30px 9px 30px;
      color: #fff;
      border-radius: 50px;
      transition: 0.3s;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      display: inline-flex;
      align-items: center;
      border: 2px solid #e03a3c;

      i {
        font-size: 16px;
        padding-left: 5px;
      }

      &:hover {
        background: #e35052;
        background: #e03a3c;
      }
    }
  }

  .icon-boxes .icon-box {
    margin-top: 30px;

    i {
      font-size: 40px;
      color: #e03a3c;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px 0;
    }

    p {
      font-size: 15px;
      color: #848484;
    }
  }
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio {
  .portfolio-item {
    margin-bottom: 30px;
  }

  #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 15px 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: #444444;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
      border-radius: 3px;

      &:hover, &.filter-active {
        color: #fff;
        background: #e03a3c;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(17, 17, 17, 0.6);

    &::before {
      content: "";
      background: rgba(17, 17, 17, 0.6);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }

    img {
      transition: all ease-in-out 0.3s;
    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 20px;

      h4 {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
      }

      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 1000;
        padding: 0;
        margin: 0;
        font-style: italic;
      }
    }

    .portfolio-links {
      text-align: center;
      z-index: 4;

      a {
        color: rgba(255, 255, 255, 0.4);
        margin: 0 5px 0 0;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      img {
        transform: scale(1.2);
      }

      .portfolio-info {
        opacity: 1;
      }
    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;

  .portfolio-details-slider {
    img {
      width: 100%;
    }

    .swiper-pagination {
      margin-top: 20px;
      position: relative;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #e03a3c;
      }

      .swiper-pagination-bullet-active {
        background-color: #e03a3c;
      }
    }
  }

  .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);

    h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li + li {
        margin-top: 10px;
      }
    }
  }

  .portfolio-description {
    padding-top: 30px;

    h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      padding: 0;
    }
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .faq-list {
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  a {
    display: block;
    position: relative;
    font-family: #e03a3c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-right: 25px;
    cursor: pointer;
  }

  i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }

  .icon-show {
    display: none;
  }

  a.collapsed {
    color: #343a40;

    &:hover {
      color: #e03a3c;
    }

    .icon-show {
      display: inline-block;
    }

    .icon-close {
      display: none;
    }
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 0 32px 0;
    border-radius: 4px;

    i {
      font-size: 32px;
      color: #e03a3c;
      border-radius: 50%;
      padding: 8px;
      border: 2px dotted #f8d4d5;
    }

    h3 {
      font-size: 20px;
      color: #777777;
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;

    .error-message {
      display: none;
      color: #fff;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;

      br + br {
        margin-top: 25px;
      }
    }

    .sent-message {
      display: none;
      color: #fff;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: #fff;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }

    .form-group {
      margin-bottom: 25px;
    }

    input, textarea {
      box-shadow: none;
      font-size: 14px;
      border-radius: 4px;
    }

    input:focus, textarea:focus {
      border-color: #111111;
    }

    input {
      padding: 10px 15px;
    }

    textarea {
      padding: 12px 15px;
    }

    button[type=submit] {
      background: #e03a3c;
      border: 0;
      padding: 10px 32px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;

      &:hover {
        background: #e35052;
      }
    }
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;

  .footer-top {
    padding: 60px 0 30px 0;
    background: #1b1b1b;

    .footer-contact {
      margin-bottom: 30px;

      h3 {
        font-size: 26px;
        line-height: 1;
        font-weight: 700;

        span {
          color: #e03a3c;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "Raleway", sans-serif;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-bottom: 12px;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 2px;
        background: #e03a3c;
        bottom: 0;
        left: 0;
      }
    }

    .footer-links {
      margin-bottom: 30px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        i {
          padding-right: 2px;
          color: white;
          font-size: 18px;
          line-height: 1;
        }

        li {
          padding: 10px 0;
          display: flex;
          align-items: center;

          &:first-child {
            padding-top: 0;
          }
        }

        a {
          color: #aaaaaa;
          transition: 0.3s;
          display: inline-block;
          line-height: 1;

          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }

    .footer-newsletter {
      font-size: 15px;

    h4 {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-bottom: 12px;
    }

    form {
      margin-top: 30px;
      background: #fff;
      padding: 5px 10px;
      position: relative;
      border-radius: 4px;
      text-align: left;

      input {
        &[type=email] {
          border: 0;
          padding: 4px 8px;
          width: calc(100% - 100px);
        }

        &[type=submit] {
          position: absolute;
          top: 0;
          right: -1px;
          bottom: 0;
          border: 0;
          background: none;
          font-size: 16px;
          padding: 0 20px;
          background: #e03a3c;
          color: #fff;
          transition: 0.3s;
          border-radius: 0 4px 4px 0;
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

          &:hover {
            background: #e35052;
          }
        }
      }
    }
  }

  .credits {
    padding-top: 5px;
    font-size: 13px;
  }

  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2b2b2b;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;

    &:hover {
      background: #e03a3c;
      color: #fff;
      text-decoration: none;
    }
  }
}

/*--------------------------------------------------------------
# CSS Productos
--------------------------------------------------------------*/


#paginaProducto {
  h2 {
    padding-top: 20px;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }
}